


  .social-media-container {
    position: absolute;
    top: 0;
    margin-top: 8px;
    right: -100px; /* Start off-screen to the right */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: var(--gold);
    border: 2px solid #ffc107;
    border-radius: 20px;
    opacity: 0;
    z-index: 80;
    transition: right 0.5s ease, opacity 0.5s ease, background 0.3s ease;
  }

  .brand-card:hover .social-media-container {
    right: 10px; /* Slide in from the right */
    opacity: 1;
    /* background: transparent; */
  }

  .social-icon {
    color: black; 
    transition: color 0.3s ease;
  }

  .social-icon:hover {
    color: #fff; 
  }

  .social-icon svg {
    width: 24px;
    height: 24px;
  }

  .btn-outline-gold {
    border: 2px solid #ffc107;
    color: #ffc107;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .btn-outline-gold:hover {
    background: #ffc107;
    color: #fff;
  }